{
  "extends":'airbnb-base',
  'parser':'babel-eslint',
  'plugins':["babel"],
  "rules": {
    "accessor-pairs": 1,
    "curly": [1, "multi-line"],
    "constructor-super": 2,
    "comma-dangle": 1,
    "quotes": [ 1, "single" ],
    "new-cap": [2, {"newIsCap": true, "capIsNew": false}],
    "no-undef": 1,
    "no-var": 2,
    "no-else-return": 1,
    "semi": 1,
    "global-strict": 0,
    "no-extra-semi": 1,
    "no-underscore-dangle": 0,
    "no-multiple-empty-lines": [1, {"max": 2}],
    "no-console": ["error", {"allow": ["warn", "error", "info"]}],
    "no-this-before-super": 2,
    "no-dupe-class-members": 2,
    "no-unused-vars": 1,
    "no-trailing-spaces": [1, { "skipBlankLines": true }],
    "no-unreachable": 1,
    "no-alert": 0,
    "object-shorthand": 1,
    "prefer-arrow-callback": 1,
    "prefer-spread": 1,
  },
}
