<div class="container">
    <form name="loginForm" class="login" >
        <fieldset>
            <legend class="legend">Login</legend>
            <div class="login-failed" ng-if="$ctrl.loginFailedMsg" >
                    <span>{{$ctrl.loginFailedMsg}}</span>
            </div>
            <div class="input">
                <input name="username" ng-model="$ctrl.user.username" ng-focus="$ctrl.hideUserIcon = true"  ng-blur="$ctrl.hideUserIcon=false" type="text"  ng-minlength="3" placeholder="userName" required/>
                <div class="error-messages input-error" ng-messages="loginForm.username.$error" role="alert" ng-show="loginForm.username.$touched">
                      <div ng-message="required" translate>This is required.</div>
                      <div ng-message="minlength" >The user name is too short</div>
                </div>
                <span>
                    <i class="fa fa-envelope-o" ng-hide="$ctrl.hideUserIcon"></i>
                </span>
            </div>
            <div class="input">
                <input name="password" type="password" placeholder="Password" ng-focus="$ctrl.hidePwdIcon = true"  ng-blur="$ctrl.hidePwdIcon=false"  ng-model="$ctrl.user.password" required/>
                <div class="error-messages input-error" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
                        <div ng-message="required">This is required.</div>
                  </div>
                <span>
                    <i class="fa fa-lock" ng-hide="$ctrl.hidePwdIcon"></i>
                </span>
            </div>
            <button  ng-click="$ctrl.loginClickHandler(loginForm)" type="submit" class="submit">
                <i class="fa fa-long-arrow-right"></i>
            </button>
            <span class='signupSpan' ng-click="$ctrl.registerClickHandler()">sign up</span>
        </fieldset>
        <div class="feedback"></div>
    </form>
</div>
