<div ng-if="$ctrl.showBox" class="AmiMenu" id="optionsBox" ng-mouseleave ='$ctrl.hideBox()'>
    <table cellpadding="0" cellspacing="0" >
        <tbody>
            <tr class="menu_indent" ng-show="$ctrl.tasks[$ctrl.taskIndex].status === 'finished'">
                <td class="">
                    <div>
                        <label ng-click="$ctrl.undoFinish()">
                            Undo finished
                        </label>
                    </div>
                </td>
            </tr>
            <tr class="menu_indent">
                <td class="">
                    <div>
                        <label ng-click="$ctrl.deleteTask()">
                            Delete Taks
                        </label>
                    </div>
                </td>
            </tr>
            <tr class="menu_indent" ng-show="$ctrl.tasks[$ctrl.taskIndex].status === 'going'">
                <td class="">
                    <div class="flagLevel">
                        <label>
                            Set Level
                        </label>
                        <span class="fa fa-flag" style="color:red" ng-click="$ctrl.setTaskLevel(2)"></span>
                        <span class="fa fa-flag" style="color:orange" ng-click="$ctrl.setTaskLevel(1)"></span>
                        <span class="fa fa-flag" style="color:gray" ng-click="$ctrl.setTaskLevel(0)"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
