<div class="container">
    <form name="registerForm"  class="login"  method='post'>
        <fieldset>
            <legend class="legend">Sign up</legend>
            <div class="input">
                <input name="username" ng-model="$ctrl.user.username" type="text"  ng-minlength="3" placeholder="userName" ng-focus="$ctrl.hideUserIcon = true"  ng-blur="$ctrl.hideUserIcon=false" required/>
                <div class="error-messages input-error" ng-messages="registerForm.username.$error" role="alert" ng-show="registerForm.username.$touched">
                      <div ng-message="required" translate>This is required.</div>
                      <div ng-message="minlength" >The user name is too short</div>
                </div>
                <span>
                    <i class="fa fa-envelope-o" ng-hide="$ctrl.hideUserIcon"></i>
                </span>
            </div>
            <div class="input">
                <input name="password" type="password" placeholder="Password" ng-model="$ctrl.user.password" ng-focus="$ctrl.hidePwdIcon = true"  ng-blur="$ctrl.hidePwdIcon=false" required/>
                <div class="error-messages input-error" ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched">
                        <div ng-message="required">This is required.</div>
                  </div>
                <span>
                    <i class="fa fa-lock" ng-hide="$ctrl.hidePwdIcon"></i>
                </span>
            </div>
            <div class="input">
                <input name="repeatPassword" type="password" placeholder="Please repeate your password" ng-focus="$ctrl.hidePwdReptIcon = true"  ng-blur="$ctrl.hidePwdReptIcon=false" ng-model="$ctrl.user.repeatPassword" password-match="$ctrl.user.password" required/>
                <div class="error-messages input-error" ng-messages="registerForm.repeatPassword.$error" ng-show="registerForm.repeatPassword.$touched">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="passwordMatch">This password wasn't matched.</div>
                  </div>
                <span>
                    <i class="fa fa-lock" ng-hide="$ctrl.hidePwdReptIcon"></i>
                </span>
            </div>
            <button  ng-click="$ctrl.loginClickHandler(registerForm)" type="submit" class="submit">
                <i class="fa fa-long-arrow-right"></i>
            </button>
        </fieldset>
        <div class="feedback"></div>
        <div class="login-failed" ng-show="!!$ctrl.loginFailedMsg">
                <span ng-bind="$ctrl.loginFailedMsg"></span>
            </div>
    </form>
</div>
