<div ng-if="$ctrl.showBox" class="AmiMenu" id="flagBox" ng-mouseleave ='$ctrl.hideBox()'>
    <div class="level">
        <ul>
            <li class="labelName">
                Level
            </li>
            <li>
                <span class="fa fa-flag" style="color:red" ng-click="$ctrl.newTask.level = '2'"></span>
                <span class="fa fa-flag" style="color:orange" ng-click="$ctrl.newTask.level = '1'"></span>
                <span class="fa fa-flag" style="color:gray" ng-click="$ctrl.newTask.level = '0'"></span>
            </li>
        </ul>
    </div>
</div>
